*{margin: 0; padding: 0;}
body{font-size: 13px; line-height: 2em; font-family: "microsoft yahei",sans-serif;}
#navs{background-color: rgb(51,51,51); height: 50px; padding-left: 30px; position: relative;}
#navs ul{position: absolute; top: 15px; right: 15px;}
#navs ul li{float: left; margin-right: 30px; width: 65px;}
#navs ul li a{color: #fff; text-decoration: none;}

#container{background-color: rgb(222,222,222); padding: 15px; overflow: hidden;}
#slider{float: right; width: 280px; height: auto; }
#articles{margin-right: 325px;}


.article, .div-images, #slider{background-color: #fff; margin-bottom: 15px; padding: 30px 15px; border: 1px solid rgb(205,205,205); box-shadow: 2px 2px 1px rgb(132,132,132);}
.article h3, .article span{color: rgb(103,103,103);}
.article p{text-indent: 2em;}
.noliststyle{list-style: none;}
.noliststyle a{text-decoration: none;}
.noliststyle a:link, .noliststyle a:visited{color: black;}
 
.div-images{overflow: hidden;}
.image-article{float:left; width: 200px; border: 1px solid rgb(206,206,206); margin: 10px 10px; padding: 10px; text-align: center;}
.image-article img{width: 100%; margin-bottom: 0;}

.article ol li{margin-left: 2em; list-style-position: inside;}
.article table{width: 100%; border-collapse:collapse;}
.article tr th, .article tr td{border: 1px solid rgb(200,200,200); text-align: left; padding: 0 5px;}
.article thead tr th{color: #fff; background-color: rgb(51,51,51);}
.article tfoot tr th,.article tfoot tr td{background-color: rgb(204,204,204);}

#slider h3{height: 40px; line-height: 40px; padding-left:15px; border-left: 3px solid rgb(204,204,204);}
#slider form table{width: 100%;}
#slider form table tr td span{color: rgb(165,165,165);}
#slider form table tr td.left{text-align: right; padding-right: 10px;}
#slider form input[type=submit]{width: 100%; height: 35px; color: #fff; background-color: rgb(51,85,208); border-radius: 10px;}
#slider form table tr td.right label{margin-right:10px;}
#slider form table tr td textarea{width:100%; height: 50px;}
#footer{background-color: #000; text-align: center; height: 50px;}
#footer p{color: #fff; line-height: 50px;}
